h4 {
  color: rgb(71, 172, 255);
}

body {
  background: white;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin: 70px 0;
  -webkit-font-smoothing: antialiased;
}

.chatbar {
  background: rgb(96, 194, 240);
  border-top: 1px solid black;
  bottom: 0;
  left: 0;
  padding: 5px;
  position: fixed;
  right: 0;
}

.container {
  background-color: rgb(245, 245, 245);
  border-radius: 6px;
  display: grid;
  margin: 1rem auto;
}

.message {
  display: grid;
  padding: 5px;
}

.system {
  display: grid;
  font-style: italic;
  padding: 5px 20px;
  margin: 0 auto;
  text-align: center;
}

.message-content,
.message-username {
  overflow: hidden;
  margin: 5px;
  padding: 0 10px;
  font-size: 20px;
}

.message-content {
  font-size: 16px;
}

.message-username {
  font-weight: 700;
}

.message-giphy {
  border-radius: 6px;
  margin: 0 0 0 1rem;
}

.navbar {
  background: rgb(96, 194, 240);
  border-bottom: 1px solid black;
  height: 60px;
  left: 0;
  padding: 0 10px;
  position: fixed;
  right: 0;
  top: 0;
  font-family: 'Baloo', cursive;
  z-index: 99999;
}

.navbar-brand {
  color: rgb(223, 116, 233);
  display: block;
  float: left;
  font-weight: 700;
  font-size: 40px;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  text-decoration: none;
}

.navbar-users-online {
  color: rgb(44, 168, 92);
  display: block;
  float: right;
  font-weight: 700;
  font-size: 28px;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  text-decoration: none;
}